In [12]:
import pandas as pd

In [13]:
from MatrixExamples import m

In [14]:
class Matrix(pd.DataFrame):

    @property
    def _constructor(self):
        return Matrix
    
    def TO(self):
        return self.groupby(level=0).sum()
    
    def TD(self):
        return self.groupby(level=1).sum()

In [15]:
mat = Matrix(m)
mat

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [17]:
mat.TO()

   T1   T2  T3
O
1   4   28  56
2   5   77  50
3   5  126  46
4   4  175  44
5   5  224  44
6   5  273  46
7   4  322  50