In [1]:
import numpy as np
import pandas as pd

In [15]:
def band(Series, dist_band):
    '''Returns Series, binned (classified) in groups by dist_band'''
    return int(Series/dist_band)*dist_band

In [89]:
def TLD(mat,dist,dist_col,dist_band):
    '''Returns the Trip-Lenght Distribution of mat, 
    based on distance form dist, aggregated by dist_band'''
    TLD = mat.join(dist).fillna(0)
    #TODO: implement dist_col as dictionary
    TLD[dist_col] = TLD[dist_col].apply(band, args=[dist_band])
    
    #TODO: check totals in TLD. First band seem to be missing.
    TLD = TLD.groupby(dist_col).sum()
    TLD = TLD.reindex(TLD.index + dist_band) #top end of each band
    TLD.at[0,:]=0 #fill initial zero value
    return TLD.sort_index()

In [18]:
from MatrixExamples import m
from Matrix import Matrix

In [62]:
mat = Matrix(m)
dist = mat[['T2']]
dist.columns = ['m']

In [70]:
mat

     T1  T2  T3
O D
1 1   0   1   0
  2   1   2   6
  3   1   3  10
  4   0   4  12
  5   1   5  12
  6   1   6  10
  7   0   7   6
2 1   1   8   0
  2   1   9   0
  3   0  10  10
  4   1  11  12
  5   1  12  12
  6   0  13  10
  7   1  14   6
3 1   1  15   0
  2   0  16   6
  3   1  17   0
  4   1  18  12
  5   0  19  12
  6   1  20  10
  7   1  21   6
4 1   0  22   0
  2   1  23   6
  3   1  24  10
  4   0  25   0
  5   1  26  12
  6   1  27  10
  7   0  28   6
5 1   1  29   0
  2   1  30   6
  3   0  31  10
  4   1  32  12
  5   1  33   0
  6   0  34  10
  7   1  35   6
6 1   1  36   0
  2   0  37   6
  3   1  38  10
  4   1  39  12
  5   0  40  12
  6   1  41   0
  7   1  42   6
7 1   0  43   0
  2   1  44   6
  3   1  45  10
  4   0  46  12
  5   1  47  12
  6   1  48  10
  7   0  49   0

In [72]:
dist

      m
O D
1 1   1
  2   2
  3   3
  4   4
  5   5
  6   6
  7   7
2 1   8
  2   9
  3  10
  4  11
  5  12
  6  13
  7  14
3 1  15
  2  16
  3  17
  4  18
  5  19
  6  20
  7  21
4 1  22
  2  23
  3  24
  4  25
  5  26
  6  27
  7  28
5 1  29
  2  30
  3  31
  4  32
  5  33
  6  34
  7  35
6 1  36
  2  37
  3  38
  4  39
  5  40
  6  41
  7  42
7 1  43
  2  44
  3  45
  4  46
  5  47
  6  48
  7  49

In [86]:
mat_TLD = TLD(mat, dist, 'm', 3)
mat_TLD

     T1     T2    T3
m
0   0.0    0.0   0.0
3   2.0   12.0  34.0
6   2.0   21.0  16.0
9   2.0   30.0  22.0
12  2.0   39.0  28.0
15  2.0   48.0   6.0
18  2.0   57.0  34.0
21  2.0   66.0  12.0
24  2.0   75.0  22.0
27  2.0   84.0  16.0
30  2.0   93.0  28.0
33  2.0  102.0  16.0
36  2.0  111.0  16.0
39  2.0  120.0  24.0
42  2.0  129.0  12.0
45  2.0  138.0  34.0
48  1.0   97.0  10.0
51  NaN    NaN   NaN

In [87]:
mat_TLD.sum()

T1      31.0
T2    1222.0
T3     330.0
dtype: float64

In [88]:
mat.TOTALS

T1      32
T2    1225
T3     336
dtype: int64